.third {
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 45%;
    box-shadow: 1px 1px 1px 1px 0.8 #888888;
    background-color: #fff;
} 
.label-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-checkbox-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
