.seventh {
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 45%;
    box-shadow: 1px 1px 1px 1px 0.8 #888888;
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    .seventh {
        width: 100%;
    }
}
